p {
  color: blue;
  background-color: dimgray;
  border: 3px solid black;
}

.title {
  color: red;
  font-size: 36px;
  margin: 50px;
  padding-left: 100px ;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
